# eclipse
bin
bin *
*.launch
.settings
.metadata
.classpath
.project
.vscode
.eclipse

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

*.DS_Store
*.log
*.tmp
*.code-workspace
.DS_Store

*.mp4

.factorypath
